.error{
  border:1px solid red;
}
.colors{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
.single-color{
  height: 200px;
  width: 200px;
}
.color-light{
  height: 200px;
  width: 200px;
  color: white;
}